DesktopClient/src/conf/xml-resources/web-service-references/ProjektService/wsdl/localhost_8080/WebService/ProjektService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wzr.ug/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wzr.ug/" name="ProjektService">
<types>
<xsd:schema>
<xsd:import namespace="http://wzr.ug/" schemaLocation="http://localhost:8080/WebService/ProjektService?xsd=1"/>
</xsd:schema>
</types>
<message name="createProjekt">
<part name="parameters" element="tns:createProjekt"/>
</message>
<message name="createProjektResponse">
<part name="parameters" element="tns:createProjektResponse"/>
</message>
<message name="getProjekt">
<part name="parameters" element="tns:getProjekt"/>
</message>
<message name="getProjektResponse">
<part name="parameters" element="tns:getProjektResponse"/>
</message>
<message name="getAllProjects">
<part name="parameters" element="tns:getAllProjects"/>
</message>
<message name="getAllProjectsResponse">
<part name="parameters" element="tns:getAllProjectsResponse"/>
</message>
<message name="deleteProjekt">
<part name="parameters" element="tns:deleteProjekt"/>
</message>
<message name="deleteProjektResponse">
<part name="parameters" element="tns:deleteProjektResponse"/>
</message>
<message name="updateProjekt">
<part name="parameters" element="tns:updateProjekt"/>
</message>
<message name="updateProjektResponse">
<part name="parameters" element="tns:updateProjektResponse"/>
</message>
<portType name="ProjektService">
<operation name="createProjekt">
<input wsam:Action="http://wzr.ug/ProjektService/createProjektRequest" message="tns:createProjekt"/>
<output wsam:Action="http://wzr.ug/ProjektService/createProjektResponse" message="tns:createProjektResponse"/>
</operation>
<operation name="getProjekt">
<input wsam:Action="http://wzr.ug/ProjektService/getProjektRequest" message="tns:getProjekt"/>
<output wsam:Action="http://wzr.ug/ProjektService/getProjektResponse" message="tns:getProjektResponse"/>
</operation>
<operation name="getAllProjects">
<input wsam:Action="http://wzr.ug/ProjektService/getAllProjectsRequest" message="tns:getAllProjects"/>
<output wsam:Action="http://wzr.ug/ProjektService/getAllProjectsResponse" message="tns:getAllProjectsResponse"/>
</operation>
<operation name="deleteProjekt">
<input wsam:Action="http://wzr.ug/ProjektService/deleteProjektRequest" message="tns:deleteProjekt"/>
<output wsam:Action="http://wzr.ug/ProjektService/deleteProjektResponse" message="tns:deleteProjektResponse"/>
</operation>
<operation name="updateProjekt">
<input wsam:Action="http://wzr.ug/ProjektService/updateProjektRequest" message="tns:updateProjekt"/>
<output wsam:Action="http://wzr.ug/ProjektService/updateProjektResponse" message="tns:updateProjektResponse"/>
</operation>
</portType>
<binding name="ProjektServicePortBinding" type="tns:ProjektService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createProjekt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProjekt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllProjects">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProjekt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProjekt">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProjektService">
<port name="ProjektServicePort" binding="tns:ProjektServicePortBinding">
<soap:address location="http://localhost:8080/WebService/ProjektService"/>
</port>
</service>
</definitions>