DesktopClient/src/conf/wsdl/localhost_8080/WebService/ProjektStudentService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://wzr.ug/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wzr.ug/">

<xs:element name="getAllStudentProjects" type="tns:getAllStudentProjects"/>

<xs:element name="getAllStudentProjectsResponse" type="tns:getAllStudentProjectsResponse"/>

<xs:complexType name="getAllStudentProjects">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllStudentProjectsResponse">
<xs:sequence>
<xs:element name="return" type="tns:projektStudent" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="projektStudent">
<xs:sequence>
<xs:element name="idProjektu" type="xs:int"/>
<xs:element name="imie" type="xs:string" minOccurs="0"/>
<xs:element name="nazwisko" type="xs:string" minOccurs="0"/>
<xs:element name="nrIndeksu" type="xs:int"/>
<xs:element name="opis" type="xs:string" minOccurs="0"/>
<xs:element name="tytul" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>