DesktopClient/src/conf/wsdl/localhost_8080/WebService/Usluga.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://wzr.ug/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wzr.ug/">

<xs:element name="pobierzStudentow" type="tns:pobierzStudentow"/>

<xs:element name="pobierzStudentowResponse" type="tns:pobierzStudentowResponse"/>

<xs:complexType name="pobierzStudentow">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="pobierzStudentowResponse">
<xs:sequence>
<xs:element name="return" type="tns:student" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="student">
<xs:sequence>
<xs:element name="imie" type="xs:string" minOccurs="0"/>
<xs:element name="nazwisko" type="xs:string" minOccurs="0"/>
<xs:element name="nrIndeksu" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>