DesktopClient/src/conf/xml-resources/web-service-references/StudentService/wsdl/localhost_8080/WebService/StudentService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wzr.ug/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wzr.ug/" name="StudentService">
<types>
<xsd:schema>
<xsd:import namespace="http://wzr.ug/" schemaLocation="http://localhost:8080/WebService/StudentService?xsd=1"/>
</xsd:schema>
</types>
<message name="createStudent">
<part name="parameters" element="tns:createStudent"/>
</message>
<message name="createStudentResponse">
<part name="parameters" element="tns:createStudentResponse"/>
</message>
<message name="updateStudent">
<part name="parameters" element="tns:updateStudent"/>
</message>
<message name="updateStudentResponse">
<part name="parameters" element="tns:updateStudentResponse"/>
</message>
<message name="getAllStudents">
<part name="parameters" element="tns:getAllStudents"/>
</message>
<message name="getAllStudentsResponse">
<part name="parameters" element="tns:getAllStudentsResponse"/>
</message>
<message name="getStudent">
<part name="parameters" element="tns:getStudent"/>
</message>
<message name="getStudentResponse">
<part name="parameters" element="tns:getStudentResponse"/>
</message>
<message name="deleteStudent">
<part name="parameters" element="tns:deleteStudent"/>
</message>
<message name="deleteStudentResponse">
<part name="parameters" element="tns:deleteStudentResponse"/>
</message>
<portType name="StudentService">
<operation name="createStudent">
<input wsam:Action="http://wzr.ug/StudentService/createStudentRequest" message="tns:createStudent"/>
<output wsam:Action="http://wzr.ug/StudentService/createStudentResponse" message="tns:createStudentResponse"/>
</operation>
<operation name="updateStudent">
<input wsam:Action="http://wzr.ug/StudentService/updateStudentRequest" message="tns:updateStudent"/>
<output wsam:Action="http://wzr.ug/StudentService/updateStudentResponse" message="tns:updateStudentResponse"/>
</operation>
<operation name="getAllStudents">
<input wsam:Action="http://wzr.ug/StudentService/getAllStudentsRequest" message="tns:getAllStudents"/>
<output wsam:Action="http://wzr.ug/StudentService/getAllStudentsResponse" message="tns:getAllStudentsResponse"/>
</operation>
<operation name="getStudent">
<input wsam:Action="http://wzr.ug/StudentService/getStudentRequest" message="tns:getStudent"/>
<output wsam:Action="http://wzr.ug/StudentService/getStudentResponse" message="tns:getStudentResponse"/>
</operation>
<operation name="deleteStudent">
<input wsam:Action="http://wzr.ug/StudentService/deleteStudentRequest" message="tns:deleteStudent"/>
<output wsam:Action="http://wzr.ug/StudentService/deleteStudentResponse" message="tns:deleteStudentResponse"/>
</operation>
</portType>
<binding name="StudentServicePortBinding" type="tns:StudentService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllStudents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StudentService">
<port name="StudentServicePort" binding="tns:StudentServicePortBinding">
<soap:address location="http://localhost:8080/WebService/StudentService"/>
</port>
</service>
</definitions>